@page "/"
@using ELISWCFService
@using FFF_Elis.ELIS_Services
@using FFF_Elis.Components.Components

<div style="height: 1000px">
    <MapComponent />
</div>

@code
{
    public List<WCFBenutzer> Users { get; set; } = new();
    public ElisClient Client { get; set; } = new (); 

    protected override void OnInitialized()
    {
        //Users = Client.Client.UserGetAll(new UserGetAllRequest(Client.Ticket.TicketID)).UserGetAllResult.ToList();
        //var tmp = Client.Client.EinsatzPersonGetByEinsatz(new EinsatzPersonGetByEinsatzRequest("einsatzNr", Client.Ticket.TicketID));
        //var tmp1 = Client.Client.EinsatzDataGetAll(new EinsatzDataGetAllRequest(Client.Ticket.TicketID));
         
        //var coordinates = (tmp1.EinsatzDataGetAllResult.First().Fahrzeuge.First().LFKLongitude, tmp1.EinsatzDataGetAllResult.First().Fahrzeuge.First().LFKLatitude);
        //var arlamierteFFs = tmp1.EinsatzDataGetAllResult.First().Alarmierungen;
    }
}
