@page "/"
@using ELISWCFService
@using FFF_Elis.ELIS_Services

<PageTitle>Home</PageTitle>


<MudContainer>
    <Row>
        <h1>Welcome to FFF_Elis</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <Button Color="Color.Primary">Learn More</Button>
        </p>
    </Row>
</MudContainer>

@if (Users.Any())
{
    foreach(var user in Users)
    {
        <p>@(user.Vorname + " " + user.Nachname)</p>
    }
}
else
{
    <p>Keine Benutzer gefunden...</p>
}

@code
{
    public List<WCFBenutzer> Users { get; set; } = new();
    public ElisClient Client { get; set; } = new (); 

    protected override void OnInitialized()
    {
        Users = Client.Client.UserGetAll(new UserGetAllRequest(Client.Ticket.TicketID)).UserGetAllResult.ToList();
    }
}
