@using MudBlazor
@inherits LayoutComponentBase

<MudThemeProvider/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <header class="fro-header fro-header--with-border" style="z-index: 9000; position: fixed; top: 0; width: 100%">
        <div class="fro-header__left-wrapper">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())"/>
            <div class="fro-header__title">Elis Visualisierung 2.0</div>
        </div>
        <div class="fro-header__menu-wrapper">
        </div>
        <div
            class="fro-header__search-wrapper fro-input-group fro-input-group--x-small"
        >
            <i class="fro-icon">magnifying-glass</i>
            <input
                type="search"
                class="fro-input fro-input--fluid fro-input-group__fro-input"
                placeholder="Search"
            />
            <button
                class="fro-button fro-button--x-small fro-button--no-min-width fro-button--pill fro-button--icon-only fro-input-group__fro-button"
            >
                <i class="fro-icon">xmark</i>
            </button>
        </div>
        <div class="fro-header__icon-wrapper">
            <a href="/visuSettings">
                <div class="fro-header__icon fro-icon">gear</div>
            </a>
        </div>
    </header>
    <NavMenu/>
    <MudMainContent Class="mt-16 pa-4">
        @Body
    </MudMainContent>
</MudLayout>

@code {
private bool _drawerOpen = false;

private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}