/*
	This CSS file matches the color scheme from MudBlazor to Bootstrap when utilized for authentication.
	The file remains available at all times for demonstration purposes,
	but it is exclusively employed in the 'App.razor' component when authentication is enabled.
*/



:root{
    --mud-palette-text-primary: var(--fro-text) !important;
    --mud-palette-action-default: var(--fro-text) !important;
    --mud-palette-background: var(--fro-background) !important;
    --mud-palette-surface: var(--fro-background) !important;
    --mud-palette-action-disabled: var(--fro-input-disabled-text) !important;
    --mud-palette-text-secondary: var(--fro-text) !important;
    --mud-zindex-popover: 10000 !important;
    --mud-typography-button-family: var(--fro-font-rational) !important;
    --mud-palette-primary: var(--fro-text) !important;
}

.btn-primary {
    text-transform: uppercase;
    --bs-btn-bg: var(--mud-palette-primary) !important;
    --bs-btn-hover-bg: var(--mud-palette-primary-darken) !important;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: var(--mud-palette-primary) !important;
}

.nav {
    --bs-nav-link-color: var(--mud-palette-primary) !important;
    --bs-nav-link-hover-color: var(--mud-palette-primary-darken) !important;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* Home Page */
.home-container {
    height: 90vh;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 25% 75%;
    grid-template-rows: 70% 30%;
    gap: 0px 0px;
    grid-template-areas: 
    "Rueckmeldungen Karte"
    "Rueckmeldungen Infotext";
}

.Infotext {
    display: grid;
    grid-template-columns: 0.7fr 1.3fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: 
    "Einsatzgrund Info"
    "Anrufer Info"
    "Ort Info";
    grid-area: Infotext;
}
.Info { grid-area: Info; }
.Einsatzgrund { grid-area: Einsatzgrund; }
.Anrufer { grid-area: Anrufer; }
.Ort { grid-area: Ort; }
.Rueckmeldungen { grid-area: Rueckmeldungen; }
.Karte { grid-area: Karte; }

.rueckmeldung-ja{
    background-color: var(--fro-success) !important;
}

.rueckmeldung-nein{
    background-color: var(--fro-error) !important;
}

.rueckmeldung-verfuegbar{
    background-color: var(--fro-dialog-color-warning) !important;
}

.h-90{
    height: 90vh;
}

/* Swapy */
.swapy-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    padding: 10px;
}

.second-row {
    display: flex;
    gap: 5px;
}

.slot {
    background: #111;
    flex: 1;
}

.slot {
    flex-basis: 100%;
    height: 150px;
}

.item {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.item.a {
    background: #b95050;
}

.item.b {
    background: #50b97f;
}

.item.c {
    background: #508db9;
}

.item.d {
    background: #b95096;
}

[data-swapy-highlighted] {
    background: #444;
}

.handle {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.enable-input {
    position: fixed;
    top: 50px;
    left: 0;
    padding: 10px;
}

.swapy-item{
    width: 100%;
}

.einsatzcard-container{

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    overflow-y: scroll;
    max-height: 90vh;

    display: grid;

    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.einsatzcard-container::-webkit-scrollbar {
    display: none;
}

.customNavItem{
    background-color: var(--fro-background) !important;
    color: var(--fro-text) !important;
}

/*Authentication*/

.validation-error{
    color: var(--fro-error);
}